<%-include('header')-%>
    <section id="welcome">
        <div class="row">
            <div class="col-sm-6">
                <h1 class="title"><strong><span class="wave">👋🏽</span>Hi There,</strong></h1>
                <h1 class="subtitle ">&emsp;&emsp; Nice Too Meet You. <br>&emsp;&emsp; I'm Yazan</h1>
                <br>
                <h5 class="subtitle2 tech-font">Practicing <span style="color: rgb(225, 125, 105);">Developer</span> and
                    student at
                    the <span style="color: rgb(99, 135, 213);">University Of Windsor</span></h5>
            </div>
            <div class="col-lg-5">
                <img class="portrait" src="images/pfp.png" alt="">
            </div>
        </div>
    </section>

    <hr style="width: 80%; margin: auto;padding-bottom: 15px;">
    <h3 class="quote">"Reject Common Sense To Make The Impossible Possible"</h3>
    <hr style="width: 60%; margin: auto; margin-top: 15px;">
    <section id="aboutMe">
        <div class="container-fluid">
            <div class="row">
                <h1 class="heading">About Me</h1>
            </div>
            <div class="row" style="margin: 10px 25px 10px 25px;">
                <div id="about-text"> <img src="images/face.png" alt=""
                        style="width: 250px; padding-right: 25px;float:left"> <br> Hi! My names Yazans Hailat. <br> I'm
                    a practicing developer based in Southern Ontario, Canada. I'm passionate about learning and growing
                    in the field of technology, and I am constantly seeking new opportunities to do so. While I may not
                    be an expert in anything yet, I believe that the journey of learning is just as valuable as the
                    destination. On this website, you'll find my hobbies, projects and blog that I've been working on,
                    where you can find updates on my life and thoughts on any topic. If you're interested in following
                    my journey, I'd love to have you along for the ride. Thank you for visiting my website, and I hope
                    you enjoy exploring it!</div>
            </div>
            <div class="row">
                <h1 class="heading" style="font-size: 35px; padding: 30px 0 0 0;">Hobbies</h1>
            </div>

            <div class="main-container">
                <div class="popup">
                    <div class="popup-overlay" id="popup">
                        <div class="main-popup">
                            <div class="popup-content">
                                <div style="text-align: right;"><i class="fa-solid fa-x close-btn"></i></div>
                                <p class="text-here"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <section id="popUp">
                    <div class="cards cardsA">
                        <div class="cardA card-1">
                            <div class="cardA__icon darken">
                                <p class="fa-solid fa-dumbbell"></p> Weight Lifting
                            </div>
                            <h2 class="cardA__title">Dedicated to strength training since 2018, always pushing to be
                                stronger then yesterday!</h2>
                            <p class="card__apply ">
                                <a class="card__link open-btn darken" href="#popUp" data-popup-text="<h1>My Fitness Journey</h1>
<p>&emsp;In September 2018, I began my fitness journey as a self-conscious teenager determined to improve my physical abilities. My motivation came from a gym class fitness assessment that highlighted my lack of strength, specifically my inability to do more than 5 push-ups. I dedicated myself to cardio and healthy eating habits and was able to lose a substantial amount of weight.</p>
<p>&emsp;From there, I took up calisthenics and set a goal to achieve 5 muscle-ups. Through consistent training and dedication, I achieved my goal and felt an immense sense of accomplishment.</p>
<p>&emsp;However, I eventually lost motivation and took a year-long hiatus.</p>
<p>&emsp;Determined not to let my progress go to waste, I joined a gym and have been consistently working out 6 days a week. I have since incorporated weightlifting into my routine and have seen great progress. My passion for fitness has even inspired my friends to join me in my journey. I currently run a PPL Arnold split and am constantly pushing myself to improve.</p>
<p>Follow my journey and stay updated by subscribing to my bi-monthly newsletter.</p>
                                </p>">Read More
                                    <i class="fas fa-arrow-right"></i></a>
                            </p>
                        </div>
                        <div class="cardA card-2">
                            <div class="cardA__icon darken"><i class="fa-solid fa-code"></i> Programming</div>
                            <h2 class="cardA__title">From my first "Hello World" in grade 10 coding has helped me
                                challenge my mind and turn my ideas into reality.</h2>
                            <p class="card__apply">
                                <a class="card__link open-btn darken" href="#popUp" data-popup-text="<h1> Discovering Code</h1>
                                    <p>&emsp;As a kid, I always heard the saying 'follow your passion' from my parents and teachers, but I never believed it to be possible. I thought that work was something that had to be endured, and that fun was reserved for games and Netflix. However, that all changed when I discovered the world of programming.</p>
                                    
                                    <p>&emsp;In 10th grade, I took my first coding class, an introduction to Python. The class started off slow, covering the basics like print statements, loops, and functions. But soon we had our first project: to recreate Microsoft Paint using PyGame. As I dove into the project, I found myself in a 'flow-state', completely absorbed in the task at hand. It was a feeling unlike anything I had experienced before, and I knew I wanted to chase it again.</p>
                                    
                                    <p>&emsp;From that point on, project after project and class after class, I was driven by the sense of accomplishment that came from turning my ideas into reality through code.I'm now proficient in multiple programming languages including Python, Java, C, JavaScript, HTML and CSS, and I am always seeking new ways to expand my knowledge and skills. I see coding as a never-ending learning opportunity, and I plan to continue growing and developing as a programmer for the rest of my life.</p>
                                    ">Read More
                                    <i class="fas fa-arrow-right"></i></a>
                            </p>
                        </div>
                        <div class="cardA card-3">
                            <div class="cardA__icon darken"><i class="fa-solid fa-book"></i> Reading</div>
                            <h2 class="cardA__title">From self help to Philosphy reading has recently become a manditory
                                part of my daily routine.</h2>
                            <p class="card__apply">
                                <a class="card__link open-btn darken" href="#popUp" data-popup-text="<h1>My Steps to Improvment</h1>
                                <p> &emsp;I never used to consider myself much of a reader.
                                I was overly confident and thought I knew it all. But as of recently, 
                                I've realized the error of my ways and have acknowledged that with the
                                thousands of books available, I'm bound to learn something if I give them a try
                                </p> 
                                <p> &emsp;I've been trying to focus my reading on books
                                that I believe can have an impact on my actions or paradigms. I hope to expand my list by 1 book
                                a month, but as of now, my list includes;</p>
                                    <ul>
                                      <li>How to Win Friends and Influence People</li>
                                      <li>The 7 Habits of Highly Effective People</li>
                                      <li>Ask and it is Given</li>
                                      <li>Think and Grow Rich</li>
                                      <li>Think Straight</li>
                                      <li>The Taboo on Knowing Who You Are</li>
                                      <li>The Power of Now</li>
                                    </ul>">Read More <i class="fas fa-arrow-right"></i></a>
                            </p>
                        </div>
                        <div class="cardA card-4">
                            <div class="cardA__icon darken"><i class="fa-solid fa-headset"></i> Entertainment</div>
                            <h2 class="cardA__title">We all Have our guilty pleasures and for me gaming/anime helps me
                                clear my mind after a long day of studying.</h2>
                            <p class="card__apply">
                                <a class="card__link open-btn darken" href="#popUp" data-popup-text="<h1>My Gulty Pleasures</h1>
                                 <h3> Video Games </h3><p>Valorant: Since its release valorant has become my go too online game.
                                    Its a first person shooter that's not only fun for the game itslef but also the social
                                    aspect of playing with a 5 man team. Im currently Diamond 3, so not the best but deffenitly Not bad.</p>
                                    <p>Chess: chess has recently become a consistant part of my daily rutine. nothing quite beats sitting down
                                        with my cup of coffee in the morning and playing a game or 2 of chess. Im currnetly ranked 500 on chess.com, 
                                        with the goal of reaching 1.2k by the end of the
                                    </p>
                                    <h3>Anime</h3> <p>Some may call it childish, but I believe anime is one 
                                        of the best mediums for visual storytelling. My first anime 
                                        was, like many, Attack on Titan. I soon fell in love with the medium and went on a very 
                                        unhealthy marathon of watching show after show. This habit of binge-watching
                                         ended a long time ago, but I still indulge myself in 2-4 episodes of
                                          seasonal anime a week. To see more about my anime taste, check out 
                                        <a href ='https://myanimelist.net/profile/lafanda' style = 'color:black;'>my aniList</a>. 
                                    </p>
                                 ">
                                    Read More <i class="fas fa-arrow-right"></i></a>
                            </p>
                        </div>
                    </div>
            </div>
    </section>
    </section>
    <hr style="width: 80%; margin: auto;padding-bottom: 15px;">
    <h3 class="quote">"You Are Under No Obligation To be The Person <br> You Were 5 Minutes Ago"</h3>
    <hr style="width: 60%; margin: auto; margin-top: 15px;">
    <section id="projects">
        <h1 class="heading ">projects</h1>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mb-4">
                    <div class="card">
                        <img src="images/Yazan'sCasino.png" alt="" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">Yazan's Casino</h5>
                            <p class="card-text">Yazan's Casino was my grade 11 java programming class final project.
                                The program is a casino emmulator containg 4 games; Black Jack, Crash, Dice and
                                Minesweeper. The game took me about a month to make and is deffenitly on of my favourite
                                projects!</p>
                            <a href="" class="btn btn-outline-success btn-sm">Viw on Github</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="card">
                        <img src="images/Tron.png" alt="" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">Tron Light Rider</h5>
                            <p class="card-text">Tron light cycle was my grade 11 java midterm project. The program is a
                                remake of the original retro game Tron, a 10 level game where you play agsint a computer
                                in an attempt to make them crash. This project took about a week from start to finish.
                            </p>
                            <a href="" class="btn btn-outline-success btn-sm">Viw on Github</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="card">
                        <img src="images/Trials.PNG" alt="" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">Trials</h5>
                            <p class="card-text">Trails was my grade 10 python final project. Its a birds-eye view
                                adventure game. The game has 4 levels, each with unique maps, enemies and boses. This
                                was my first big project, me and my friend completed the project in a little over 3
                                months and its deffenitly the most impressive thing ive made coming out of highscool.
                            </p>
                            <a href="" class="btn btn-outline-success btn-sm">Viw on Github</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 mb-4">
                    <div class="card">
                        <img src="images/SimonSays.png" alt="" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">Simon Says</h5>
                            <p class="card-text">Simon Says was my first attempt at creating an interactive website
                                using HTML CSS and Javascript. The project was inspired by "The 2023 full Webdevlopment
                                course" on udemy.</p>
                            <a href="" class="btn btn-outline-success btn-sm">Viw on Github</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="card">
                        <img src="images/site.png" alt="" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">This Site</h5>
                            <p class="card-text">This website along side my email newsletter is my first attempt at
                                creating a full fledged website. Like my Simon Says project this too was inspired by the
                                same udemy course. I made the website useing HTML, CSS, Javascript and NodeJS. I used
                                EJS for the templating and am hosting the website for free on glitch.com. This is my
                                first project of 2023 and i am incredibly proud of it!</p>
                            <a href="" class="btn btn-outline-success btn-sm">Viw on Github</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="card">
                        <img src="images/coming.jpg" alt="" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">More Coming Soon</h5>
                            <p class="card-text">Im always working on new projects and will be uploading them here as
                                soon as theyre Ready!</p>
                            <a href="" class="btn btn-outline-success btn-sm">Viw on Github</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <hr style="width: 80%; margin: auto;padding-bottom: 15px;">
    <h3 class="quote">"Those Who Take No Chances Are Forced To Take Whats Left <br> After Everyone Is Done Choosing"
    </h3>
    <hr style="width: 60%; margin: auto; margin-top: 15px;">

    <section id="blog">
        <h1 class="heading">Join My Blog</h1>
        <div class="container-fluid">
            <div class="row">
                <h3>Content Overview</h3>
                <div class="col-lg-6">
                    <p> &emsp;Are you interested in gaining insight into the mind of an 18-year-old who is determined to
                        find their place in the world? Look no further! With my blog, you'll have the opportunity to
                        receive bi-monthly updates from yours truely. But my blog serves a higher purpose than just
                        providing updates on my life. I am using this platform to hold myself accountable to my goals.
                        Recently, I've taken on several side projects, learning opportunities, and personal goals that I
                        hope to achieve by 2024.</p>
                </div>
                <div class="col-lg-6 p2">
                    <p> &emsp;To ensure that I stay consistent with these goals, I've found that journaling and tracking
                        my progress is crucial. I initially started by journaling my workouts which helped me stay
                        consistent in the gym and make progress, but it wasn't effective for my other tasks. I tried to
                        create a TikTok account for this purpose, but found that the time required to produce content
                        that I was proud of took too much time out of my day.
                    </p>
                </div>
                <div class="col-lg-6 p2">
                    <p> &emsp;To ensure that I stay consistent with these goals, I've found that journaling and tracking
                        my progress is crucial. I initially started by journaling my workouts which helped me stay
                        consistent in the gym and make progress, but it wasn't effective for my other tasks. I tried to
                        create a TikTok account for this purpose, but found that the time required to produce content
                        that I was proud of took too much time out of my day.
                    </p>
                </div>
            </div>
        </div>
        <div class="btnDiv">
            <a href="https://yazans-newsletter.glitch.me/" style = "padding-right: 15px;"><button id="join" type="button"class="btn btn-secondary rounded-pill join" >Click Here To Join</button></a>
            <a href="/pastPosts" style = "padding-left: 15px;"><button id="join" type="button"class="btn btn-secondary rounded-pill join" ">View Past Posts</button></a>
        </div>
    </section>
    <%-include('footer')-%>