<%-include('header')-%>
<h1 style = "text-align: center; padding: 50px 0 ;">All Posts</h1>
<div class = "container-fluid">
    <div class = "date-written colllg-12"> date</div>
    <div class = "post-title">Post title <a href="/post" style = "padding-left: 15px;"><button  type="button"class="rounded-pill" ">Posts</button></a></div>
</div>
<%-include('footer')-%>