<%-include('header')-%>
<div><a href="/pastPosts" style = "padding-left: 15px;"><button  type="button"class="rounded-pill" ">back</a></div>
<div id="about-text"> Hi! My names Yazans Hailat. I'm
a practicing developer based in Southern Ontario, Canada. I'm passionate about learning and growing
in the field of technology, and I am constantly seeking new opportunities to do so. While I may not
be an expert in anything yet, I believe that the journey of learning is just as valuable as the
destination. On this website, you'll find my hobbies, projects and blog that I've been working on,
where you can find updates on my life and thoughts on any topic. If you're interested in following
my journey, I'd love to have you along for the ride. Thank you for visiting my website, and I hope
you enjoy exploring it!</div>
<%-include('footer')-%>